#ordersSection {

  #tableContainer {
    width: auto;
    overflow: auto;
    padding: 0;
  }

  #tableCard {
    width: 100%;
    margin: auto;

    div.tableCardTitle {
      position: relative;
      background-color: #9fa8da;
      color: #fff;

      #addOrderBtn {
        position: absolute;
        top: 30px;
        right: 100px;
        z-index: 1;
      }
    }
  }

  #ordersTable {
    width: 100%;
    border: none;
  }

  #orderItemsTable {
    width: 100%;
    border: none;
  }

  #orderTools {
    padding-top: 1px;
  }

}
