#budgetSection {

  #tableWrapper {
    height: 500px;
    overflow: auto;
  }

  #budgetTable {
    width: 100%;
  }

  #budgetTools {
    div.actionWrapper {
      width: 100%;
      text-align: right;
    }
  }
}