#budgetSection {

  #tableWrapper {
    height: 500px;
    overflow: auto;
  }

  #budgetTable {
    width: 100%;
  }

  /*table thead tr {
    display: block;
  }

  table th, table td {
    width: 30%; //fixed width
  }

  table tbody {
    display: block;
    height: 500px;
    overflow: auto; //set tbody to auto
  }*/

}