#budgetSection {

  #tableContainer {
    width: auto;
    overflow: auto;
  }

  #budgetTable {
    width: 100%;
  }

  #budgetTools {
    padding-top: 1px;
    div.actionWrapper {
      width: 100%;
      text-align: right;
    }
  }
}