@import './components/mainLayout/mainLayout';
@import './components/login/login';
@import './components/mainLayout/budget/budget';
@import './components/mainLayout/orders/orders';

body {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}