@import './components/mainLayout/mainLayout';
@import './components/login/login';
@import './components/mainLayout/budget/budget';
@import './components/mainLayout/budget/budgetSearch/budgetSearch';
@import './components/mainLayout/budget/budgetItem/budgetItem';
@import './components/mainLayout/orders/orders';

body {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.datepicker-container {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;

  .datepicker-label {
    bottom: 0;
    color: rgba(0, 0, 0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
  }

  &.is-focused {
    .datepicker-label {
      color: rgb(63, 81, 181);
      font-size: 12px;
      top: 4px;
      visibility: visible;
    }
  }
}

.datepicker-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: none;
  text-align: left;
  color: inherit;
}

.datepicker-label {
  bottom: 0;
  color: rgba(0, 0, 0, 0.26);
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
